* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 15px;
  background-color: #4b44444d;
}

nav a{
  text-decoration: none;
  color: #333;
} 

nav ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

main {
  padding: 20px;
  padding-bottom: 150px;
  background-color: rgb(208, 185, 179)
}

.welcome-message {
  text-align: center;
  padding: 20px;
}
.categories {
  margin-top: 20px;
}

.category-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.category-buttons a {
  padding: 10px 20px;
  background-color: #0c65a5f5;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.category-buttons a:hover {
  background-color: #ccc906;
}

.presentation {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  align-items: center;
}
.plant  {
    width: 350px;
    text-align: center;
    background-color:#ccc906;
    margin: 20px;
}
.plant .images{
    font-size: 25px;
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
}
.plant h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.plant ul{
    list-style: none;
    text-align: left;
}
.plant ul{
    padding: 10px;
    border-radius: 5px;
    background-color:#ccc906;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-content {
  text-align: center;
}